
/* Gets rid of default values. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Helvetica, Arial, sans-serif;
}

/* Splash Screen */

.intro{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--cream);
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--logo-color);
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-style: italic;

    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 4px;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* Colors */
/* https://colorhunt.co/palette/635985443c6839305318122b */
:root {
    --main-color: #635985;
    --sub-color: #443C68;
    --sub-color-2: #393053;
    --sub-color-3: #18122B;
    --logo-color: rgb(255, 117, 37);
    --cream: #FFFDD0;
    --background-color: #1d1f20;
    --box-background-color: #232526;
    --box-border-color: #333;
    --text-color: #fff;
    --price-color: #bdc3c7;
    --secondary-text-color: #bdc3c7;
    --button-background-color: #3498db;
    --button-text-color: #fff;
    --button-hover-background-color: #2980b9;
    --header-text-color: white;
    --header-text-color-hover: var(--main-color);
    --header-background-color-hover: rgb(0,0,0, 0.2);
}



/* Main Section */

.wrapper {

    width: 100%;
    display: flex;
    flex-direction: column;
}

.mainSection {
    position: relative;
    height: 100vh;
}

.backgroundImage {
    background-image: url(../images/northern_lights.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

h1 {
    font-size: 5rem;
    color: #fff;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 3rem;
}

.ctaButton {
    display: inline-block;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--logo-color);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.ctaButton:hover {
    background-color: #fff;
    color: var(--logo-color);
}


/* Css for flight options */
.flight-section {
    background-color: var(--background-color);
}

.flight-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.flight-box {
    background-color: var(--box-background-color);
    border: 1px solid var(--box-border-color);
    border-radius: 6px;
    padding: 20px;
    width: calc(33.33% - 20px);
    text-align: center;
    margin-bottom: 20px;
}

.flight-box h3 {
    color: var(--text-color);
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

.flight-box .price {
    color: var(--price-color);
    font-size: 28px;
    margin: 0;
}

.flight-box ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.flight-box li {
    color: var(--secondary-text-color);
    font-size: 16px;
    margin-bottom: 10px;
}

.flight-box button {
    background-color: var(--button-background-color);
    border: none;
    border-radius: 4px;
    color: var(--button-text-color);
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.2s;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 180px;
}

.flight-box button:hover {
    background-color: var(--button-hover-background-color);
}

@media only screen and (max-width: 768px) {
    .flight-box {
        width: 100%;
    }
}

/* Seperator Css*/
.separator {
    background-color: #eee;
    height: 0px;
    margin: 60px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .separator h2 {
    color: #333;
    font-size: 2rem;
    margin: 20px 0;
    word-wrap: break-word;
  }
  
  @media screen and (max-width: 768px) {
    .separator h2 {
      font-size: 1.5rem;
    }
  }

/* Footer Css */
footer {
    bottom: 0;
    width: 100%;
    height: 50px; /* adjust this value as needed */
    background-color: #0c1933; /* change this to your desired color */
  }
  
  /* Center the content of the footer */
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Style the text in the footer */
  footer p {
    color: #fff; /* change this to your desired color */
    font-size: 1rem;
  }
  

/* Phone overrides */
@media (max-height: 950px) {
    .backgroundImage {
        padding-top: 38vh;
        padding-bottom: 38vh;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    
}