
/* Gets rid of default values. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Helvetica, Arial, sans-serif;
}

/* Splash Screen */

.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--cream);
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--logo-color);
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-style: italic;

    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 4px;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* Colors */
/* https://colorhunt.co/palette/635985443c6839305318122b */
:root {
    --main-color: #635985;
    --sub-color: #443C68;
    --sub-color-2: #393053;
    --sub-color-3: #18122B;
    --logo-color: rgb(255, 117, 37);
    --cream: #FFFDD0;
}

/* Header */

nav {
    height: 44px;
    background: var(--sub-color-3);
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    display: flex;
    height: 44px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    list-style-type: none;
}

nav a {
    display: block;
    color: white;
    font-size: 0.94rem;
    font-weight: lighter;
    text-decoration: none;
}

/* Various Css */
h1 {
    color: var(--logo-color);
    text-align: center;
    font-size: 5rem;
}

.wrapper {
    height: 100vh;
    width: 100%;
}

.backgroundImage {
    background-image: url(/images/northern_lights.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 35vh;
    padding-bottom: 35vh;
}

.stepOnePanel {
    background-color: var(--sub-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.stepOnePanel img {
    max-width: 25%;
    height:auto;
}

h2 {
    color: var(--logo-color);
    text-align: center;
    font-size: 3rem;
}

/* Phone overrides */
@media (max-height: 950px) {
    .backgroundImage {
        padding-top: 38vh;
        padding-bottom: 38vh;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    .stepOnePanel {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    
}

/*
LEGACY CSS

body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 1.4;
    font-size: 14px;
    background-color: #e0e7ef;
}

h1 {
    margin: 90px auto 0 auto;
    font-size: 96px;
    font-weight: 800;
    line-height: 60px;
    text-align: center;
    max-width: 910px;
    color: white;
}

#intro-screen {
    background: var(--cream);
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1000;
}

.intro-text {
    text-align: center;
    line-height: 50vh;
    font-size: 10rem;
    font-weight: 800;
    max-width: 910px;
    color: var(--logo-color);
    font-style: italic;
    letter-spacing: 7px;
}
*/